<div>
  <table class="form">
    <tbody>
      <tr>
        <td><b>Receiver</b>:</td>
        <td><std:text value="this.receiverName"></std:text></td>
      </tr>
      <tr>
        <td><b>Address</b>:</td>
        <td><std:text value="this.address"></std:text></td>
      </tr>
      <tr>
        <td><b>Date</b>:</td>
        <td><std:text value="this.date"></std:text></td>
      </tr>
    </tbody>
  </table>

  <table class="data">
    <thead>
      <tr>
        <th>#</th>
        <th>SKU</th>
        <th>Product</th>
        <th>Unit price</th>
        <th colspan="2">Amount</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <std:foreach var="item" index="index" in="this.items">
        <tr attr:class="index % 2 == 0 ? 'even' : 'odd'">
          <td align="right"><std:text value="index + 1"></std:text></td>
          <td><std:text value="item.sku"></std:text></td>
          <td><std:text value="item.productName"></std:text></td>
          <td align="right"><std:text value="'$' + item.unitPrice"></std:text></td>
          <td>
            <span class="action-link" event:click="item.more()">more</span>
            <std:if condition="item.amount > 1">
                <span class="action-link" event:click="item.less()">less</span>
            </std:if>
          </td>
          <td align="right"><std:text value="item.amount"></std:text></td>
          <td align="right"><std:text value="'$' + item.price"></std:text></td>
        </tr>
      </std:foreach>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6">Total:</td>
        <td align="right"><std:text value="'$' + this.totalPrice"></std:text></td>
      </tr>
    </tfoot>
  </table>
</div>