<?import org.teavm.flavour.templates.util.Formatter?>
<?use w:org.teavm.flavour.widgets?>
<div>
  <table class="form">
    <tbody>
      <tr>
        <td><b>Receiver</b>:</td>
        <td><std:text value="receiverName"/></td>
      </tr>
      <tr>
        <td><b>Address</b>:</td>
        <td><std:text value="address"/></td>
      </tr>
      <tr>
        <td><b>Date</b>:</td>
        <td><w:date value="date"/></td>
      </tr>
    </tbody>
  </table>

  <table class="data">
    <thead>
      <tr>
        <th>#</th>
        <th>SKU</th>
        <th>Product</th>
        <th>Unit price</th>
        <th colspan="2">Amount</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <std:foreach var="item" index="index" in="items">
        <tr attr:class="index % 2 == 0 ? 'even' : 'odd'">
          <td align="right"><std:text value="index + 1"/></td>
          <td><std:text value="item.product.sku"/></td>
          <td><std:text value="item.product.name"/></td>
          <td align="right"><std:text value="'$' + item.product.unitPrice"/></td>
          <td>
            <w:action-link onclick="item.more()">more</w:action-link>
            <w:action-link visible="item.amount > 1" onclick="item.less()">less</w:action-link>
          </td>
          <td align="right">
            <input type="text" std:value="item.amount" size="3"
                attr:class="item.invalidAmountString ? 'error' : ''"
                std:change="val -> item.parseAmount(val)">
          </td>
          <td align="right"><std:text value="'$' + item.price"/></td>
          <td><w:action-link onclick="items.remove((int)index)">delete</w:action-link></td>
        </tr>
      </std:foreach>
      <tr>
        <td></td>
        <td colspan="5">
          <std:if condition="items.empty">
            <i>There are no items yet</i>
          </std:if>
          <button event:async-click="addProduct()">Add item</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6">Total:</td>
        <td align="right"><std:text value="'$' + totalPrice"/></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>