table.data {
    border-color: black;
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style:solid;
    border-collapse: collapse;
    background-color: rgb(250,250,250);
}
table.data td, table.data th {
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
}
table.data thead, table.data tbody, table.data tfoot {
    border-color: black;
    border-width: 1px;
    border-top-style: solid;
    border-bottom-style:solid;
}
table.data thead, table.data tfoot {
    background-color: rgb(230,230,230);
}
table.data tr.even {
  background-color: rgb(250,250,250);
}
table.data tr.odd {
  background-color: rgb(240,240,240);
}


a, span.action-link {
    color: blue;
    cursor: pointer;
}
a:hover, span.action-link:hover {
    color: red;
}
a {
    text-decoration: underline;
}
span.action-link {
    border-bottom-color: blue;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
}
span.action-link:hover {
    border-bottom-color: red;
}