a, span.flavour-action-link {
    color: blue;
    cursor: pointer;
}
a:hover, span.flavour-action-link:hover {
    color: red;
}
a {
    text-decoration: underline;
}
span.flavour-action-link, span.flavour-disabled-action-link {
    border-bottom-color: blue;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
}
span.flavour-disabled-action-link {
    cursor: default;
}
span.flavour-action-link:hover {
    border-bottom-color: red;
}
span.flavour-hidden-action-link {
    display: none;
}

.flavour-calendar {
    width: 220px;
    height: 150px;
    display: inline-block;
    position: relative;
    border-color: rgb(160,160,160);
    border-width: 1px;
    border-style: solid;
    font-family: sans-serif;
    font-size: 9pt;
}
.flavour-calendar-previous-month, .flavour-calendar-month, .flavour-calendar-next-month {
    position: absolute;
    display: block;
    top: 0;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}
.flavour-calendar-previous-month {
    left: 0;
    width: 20px;
}
.flavour-calendar-next-month {
    right: 0;
    width: 20px;
}
.flavour-calendar-month {
    left: 20px;
    right: 20px;
    text-align: center;
    cursor: default;
}
.flavour-calendar-previous-month, .flavour-calendar-next-month {
    background: none;
    border-style: none;
    outline-style: none;
    cursor: pointer;
}
.flavour-calendar-previous-month > span, .flavour-calendar-next-month > span {
    position: absolute;
    display: block;
    width: 7px;
    height: 13px;
    top: 3px;
    left: 6px;
    background-image: url(arrows.png);
    background-repeat: no-repeat;
}
.flavour-calendar-previous-month > span {
    background-position: 0px -13px;
}
.flavour-calendar-previous-month:hover > span {
    background-position: -7px -13px;
}
.flavour-calendar-next-month > span {
    background-position: 0px 0px;
}
.flavour-calendar-next-month:hover > span {
    background-position: -7px 0px;
}
.flavour-calendar-sheet {
    position: absolute;
    left: 4px;
    right: 4px;
    top: 24px;
    bottom: 4px;
    border-top-color: rgb(210,210,210);
    border-top-style: solid;
    border-top-width: 1px;
}
.flavour-calendar-day {
    position: absolute;
    width: 28px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    text-align: right;
    cursor: pointer;
    box-sizing: border-box;
    padding: 2px;
    border-right-color: rgb(210,210,210);
    border-right-style: solid;
    border-right-width: 1px;
}
.flavour-calendar-weekdays {
    top: 2px;
    cursor: default;
}
.flavour-calendar-week-0 {
    top: 22px;
}
.flavour-calendar-week-1 {
    top: 42px;
}
.flavour-calendar-week-2 {
    top: 62px;
}
.flavour-calendar-week-3 {
    top: 82px;
}
.flavour-calendar-week-4 {
    top: 102px;
}
.flavour-calendar-weekday-index-0 {
    left: 0;
}
.flavour-calendar-weekday-index-1 {
    left: 14.28%;
}
.flavour-calendar-weekday-index-2 {
    left: 28.57%;
}
.flavour-calendar-weekday-index-3 {
    left: 42.86%;
}
.flavour-calendar-weekday-index-4 {
    left: 57.14%;
}
.flavour-calendar-weekday-index-5 {
    left: 71.43%;
}
.flavour-calendar-weekday-index-6 {
    left: 85.71%;
    border-right-style: none;
}
.flavour-calendar-weekday-1, .flavour-calendar-weekday-7 {
    color: rgb(200,0,0);
}
.flavour-calendar-inactive-day {
    color: rgb(180,180,180);
}
.flavour-calendar-inactive-day.flavour-calendar-weekday-1,
.flavour-calendar-inactive-day.flavour-calendar-weekday-7 {
    color: rgb(220,180,180);
}
.flavour-calendar-current-day {
    color: blue;
    font-weight: bold;
}

.flavour-dropdown {
    display: block;
    position: absolute;
    background: white;
}
.flavour-dropdown-calendar {
    width: 222px;
    height: 152px;
}


.flavour-popup-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url(popup-background.png);
    background-repeat: repeat;
}
.flavour-popup-layout {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -400px;
    width: 800px;
    height: 800px;
    background-color: white;
    border-width: 1px;
    border-color: rgb(160,160,160);
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    overflow: auto;
}
.flavour-popup-close-button-container {
    position: absolute;
    height: 22px;
    right: 10px;
    top: 10px;
}
.flavour-popup {
    position: absolute;
    top: 32px;
    bottom: 10px;
    right: 10px;
    left: 10px;
}