<?use w:org.teavm.flavour.widgets?>
<nav class="navbar navbar-static-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <button type="button" class="btn btn-default navbar-btn" event:click="add()" aria-label="Add">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-default navbar-btn" event:click="cursor.refresh()"
              html:enabled="not cursor.loading">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
      </button>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <div class="input-group">
            <input placeholder="Search..." type="text" class="form-control" html:change="filter = it"/>
            <span class="input-group-btn">
              <button type="button" aria-label="more options" event:async-click="filter()"
                  attr:class="'btn btn-default' + (advancedFilterApplied ? ' filter-applied' : '')">
                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
              </button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>


<div class="container-fluid">
  <nav>
    <w:paginator data="cursor" page-link="(num, c) -> pageLink(num, c)"/>
  </nav>

  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Id</th>
          <th>Status</th>
          <th>Address</th>
          <th>Shipping date</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <std:foreach var="order" index="i" in="cursor.fetch()">
          <tr>
            <td><a html:link="edit(order.id, it)">Edit</a></td>
            <td><html:text value="order.id"/></td>
            <td><html:text value="order.status"/></td>
            <td><html:text value="order.address"/></td>
            <td><html:text value="dateFormat.format(order.date)"/></td>
            <td align="right"><html:text value="'$' + order.total"/></td>
          </tr>
        </std:foreach>
        <std:if condition="cursor.fetch().empty">
          <tr>
            <td colspan="6"><i>There are no orders satisfying given criteria</i></td>
          </tr>
        </std:if>
      </tbody>
    </table>
  </div>
</div>