<?use w:org.teavm.flavour.widgets?>
<h3>Please, select a product</h3>
<div>
  <table class="data">
    <thead>
      <tr>
        <th>#</th>
        <th>SKU</th>
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <std:foreach var="product" index="i" in="cursor.fetch()">
        <tr attr:class="i % 2 == 0 ? 'even' : 'odd'">
          <td><std:text value="i + offset + 1"/></td>
          <td><std:text value="product.sku"/></td>
          <td><std:text value="product.name"/></td>
          <td align="right"><std:text value="'$' + product.unitPrice"/></td>
          <td><button event:click="choose(i)">Choose</button></td>
        </tr>
      </std:foreach>
      <std:if condition="products.empty">
        <tr>
          <td colspan="5"><i>There are no products satisfying given criteria</i></td>
        </tr>
      </std:if>
    </tbody>
  </table>
</div>
<div>
  <button event:click="previousPage()" std:enabled="currentPage > 0">Previous</button>
  Page
  <input type="text" size="3" std:value="currentPage + 1" std:change="str -> parseCurrentPage(str)">
  of <std:text value="pageCount"/>
  <button event:click="nextPage()" std:enabled="currentPage < pageCount - 1">Next</button>
</div>