<?use w:org.teavm.flavour.widgets?>
<div class="btn-toolbar">
  <div class="btn-group">
    <button type="button" class="btn" event:click="add()">Add</button>
  </div>
</div>
<nav>
  <w:paginator data="cursor"/>
</nav>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>SKU</th>
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <std:foreach var="product" index="i" in="cursor.fetch()">
        <tr>
          <td><std:text value="product.sku"/></td>
          <td><std:text value="product.name"/></td>
          <td align="right"><std:text value="'$' + product.unitPrice"/></td>
          <td><button event:click="edit(i)">Edit</button></td>
        </tr>
      </std:foreach>
      <std:if condition="cursor.fetch().empty">
        <tr>
          <td colspan="5"><i>There are no products satisfying given criteria</i></td>
        </tr>
      </std:if>
    </tbody>
  </table>
</div>