<?use w:org.teavm.flavour.widgets?>
<div class="btn-toolbar">
  <div class="btn-group">
    <button type="button" class="btn" event:click="add()">Add</button>
  </div>
</div>
<nav>
  <w:paginator data="cursor" page-link="(num, c) -> pageLink(num, c)"/>
</nav>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>SKU</th>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <std:foreach var="product" index="i" in="cursor.fetch()">
        <tr>
          <td><a std:link="c -> edit(product.id, c)">Edit</a></td>
          <td><std:text value="product.sku"/></td>
          <td><std:text value="product.name"/></td>
          <td align="right"><std:text value="'$' + product.unitPrice"/></td>
        </tr>
      </std:foreach>
      <std:if condition="cursor.fetch().empty">
        <tr>
          <td colspan="5"><i>There are no products satisfying given criteria</i></td>
        </tr>
      </std:if>
    </tbody>
  </table>
</div>