<div class="flavour-calendar">
  <button class="flavour-calendar-previous-month" event:click="previousMonth()"><span></span></button>
  <div class="flavour-calendar-month">
    <html:text value="displayMonthName"/>
    <html:text value="displayYear"/>
  </div>
  <button class="flavour-calendar-next-month" event:click="nextMonth()"><span></span></button>

  <div class="flavour-calendar-sheet">
    <std:foreach var="weekday" in="weekdays">
      <div attr:class="
            'flavour-calendar-day flavour-calendar-weekdays' +
            ' flavour-calendar-weekday-index-' + weekday.weekDayIndex +
            ' flavour-calendar-weekday-' + weekday.weekDay">
        <html:text value="weekday.name"/>
      </div>
    </std:foreach>
    <std:foreach var="day" in="days">
      <div attr:class="
            'flavour-calendar-day' +
            ' flavour-calendar-week-' + day.week +
            ' flavour-calendar-weekday-index-' + day.weekDayIndex +
            ' flavour-calendar-weekday-' + day.weekDay +
            (not day.available ? ' flavour-calendar-inactive-day' : '') + 
            (day.current ? ' flavour-calendar-current-day' : '')"
          event:click="day.select()">
        <html:text value="day.date"/>
      </div>
    </std:foreach>
  </div>
</div>