<ul class="pagination">
  <std:foreach var="item" in="items">
    <std:if condition="item.previous">
      <li attr:class="previousAvailable ? '' : 'disabled'">
        <a event:click="e -> previousPage(e)" html:link="c -> getPageLink(currentPage - 1, c)">&laquo;</a>
      </li>
    </std:if>
    <std:if condition="item.next">
      <li attr:class="nextAvailable ? '' : 'disabled'">
        <a event:click="e -> nextPage(e)" html:link="c -> getPageLink(currentPage + 1, c)">&raquo;</a>
      </li>
    </std:if>
    <std:if condition="item.page">
      <li attr:class="currentPage == item.pageNumber ? 'active' : ''">
        <a html:link="c -> getPageLink(item.pageNumber, c)"
             event:click="e -> selectPage(e, item.pageNumber)">
           <html:text value="item.pageNumber + 1"></a>
      </li>
    </std:if>
    <std:if condition="item.skip">
      <li class="disabled">
        <span>&hellip;</span>
      </li>
    </std:if>
  </std:foreach>
</ul>